.root {
  -fx-font-family: 'Segoe UI', sans-serif;
  -fx-base: #2b2b2b;
  -fx-background: #1e1e1e;
}
.button {
  -fx-background-color: linear-gradient(#3c3f41, #2b2b2b);
  -fx-text-fill: #eee;
  -fx-background-radius: 5;
  -fx-padding: 8 15 8 15;
}
.button:hover {
  -fx-background-color: linear-gradient(#4b4e50, #3c3f41);
}
.table-view {
  -fx-table-cell-border-color: transparent;
  -fx-background-color: #2b2b2b;
  -fx-border-color: #3c3f41;
}

.toolbar-button {
  -fx-background-color: #3c7fb1;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 5;
  -fx-padding: 6 12;
}

.toolbar-button:hover {
  -fx-background-color: #559fd6;
}

.toolbar-button:pressed {
  -fx-background-color: #2a6691;
}
